body {
    background-color: #3D5A80;
    font-family: 'Times New Roman', Times, serif;
    text-transform: uppercase;
    padding: 20px 0;
    display: grid;
}

header h1 {
    text-align: center;
    width: 500px;
    background-color: #FFCA3A;
    border-radius: 6px;
    padding: 20px 20px ;
    margin: 10px;
}

#creditCard {
    display: grid;
    grid-template-columns: 1fr 200px 200px 200px 1fr;
    grid-template-rows: 1fr 200px 200px 200px 1fr;
}

.front, .back {
    background-color: #FFCA3A;
    width: 390px;
    height: 250px;
    border: solid black 2px ;
    border-radius: 6px;
    padding: 20px 30px 0;
    box-sizing: border-box;
    font-size: 10px;
    letter-spacing: 1px;
    font-weight: 300;
    color: black;
}

.front {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;
    z-index: 2;
}

.back {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 4;
    z-index: 1;
}

#total {
    font-size: 17px;
}

#total strong {
    font-size: 20px;
}

#cardPic {
    float: right;
    height: 100%;
}

.number {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;
    z-index: 2;
    position: relative;
    top: 80px;
    left: 30px;
}

.holder {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;
    z-index: 2;
    position: relative;
    top: 120px;
    left: 30px;
}

.expo {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;
    z-index: 2;
    position: relative;
    top: 180px;
    left: 210px;
    width: 200px;
}

.expo #expoMonth, #expoYear {
    width: 25px;
}

.cvc {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 4;
    z-index: 2;
    position: relative;
    top: 200px;
    left: 200px;
}

.cvc #cardCvc {
    width: 90px;
}

.back #cardStripe {
    width: 357px;
    height: 55px;
    background-color: black;
    position: relative;
    z-index: 1;
}

#submit {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 4;
    grid-row-end: 5;
    width: 150px;
    border-radius: 8px;
    height: 42px;
    font-size: 12px;
}