/*header*/
.title  {
    display: flex;
    justify-content: center;
    padding: 40px;
}

.title img {
    width: 200px;
}

.title h1 {
    font-size: 80px;
}

.search-bar {
    display: flex;
    justify-content: center;
    height: 40px;
}

.search-bar input {
    width: 1000px;
}

.search-bar img {
    height: 25px;
    width: 25px;
}
/*body*/

.recipe {
    display: flex;
    justify-content: center;
    padding: 40px;
    border: solid black 2px;
    margin: 20px;
}

/*footer*/

footer a {
    font-size: 0.6em;
}

.social img {
    width: 3em;
}