@import url("https://fonts.googleapis.com/css?family=IM+Fell+French+Canon+SC|Lato");
@import url('https://fonts.googleapis.com/css2?family=IM+Fell+French+Canon:ital@0;1&family=Metal+Mania&display=swap');

/** main **/

body {
    background-color: #5c4827;
    font-family: "IM Fell French Canon", serif;
}

h1, h2, h3 {
    font-family: "Metal Mania";
    background-color: #eeeb92;
    border-radius: 20px;
    padding: 10px;
    width: fit-content;
}

p {
    background-color: #eeeb92;
    border-radius: 20px;
    font-family: "IM Fell French Canon", serif;
    padding: 8px;
    margin: 0;
}

/** header **/

header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

header img {
    width: 200px;
    border-radius: 200%;
    grid-column: 1/2;
}

header h1 {
    grid-column: 2/5;
    grid-row: 1/2;
    justify-content: start;
}

nav {
    display: grid;
    grid-row: 2/3;
    grid-column: 1/5;
    background-color: #eeeb92;
    border-radius: 20px;
    border: 2px solid black;
    height: 80px;
    font-family: "IM Fell French Canon", serif;
}

ul {
    list-style-type: none;
    display: flex;
}

ul li a {
    display: block;
    padding: 14px 16px;
}

ul li a:hover {
    background-color: #ecaa2d;
}

/** hero slideshow **/

* {box-sizing: border-box;}

.hero-gallery {
    max-width: 300px;
    max-height: 500px;
    position: relative;
    margin: auto;
}

.slide {
    display: none;
}

.previous, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.previous:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}

.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
    background-color: black;
}

.numberText {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: #717171;
}

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {opacity: .4;}
    to {opacity: 1;}
}

/** main **/

.contentBoxes {
    background-color: #eeeb92;
    display: flex;
    padding-bottom: 45px;
}

.continentLinks {
    border: 1px solid black;
    height: 250px;
    width: 250px;
    padding: 10px;
    margin: 10px;
    text-align: center;
}

.continentLinks img {
    width: 200px;
    height: 200px;
    border-radius: 200%;
}

.invite {
    margin: auto;
    text-align: center;
    background-color: #eeeb92;
    width: fit-content;
    padding: 5px;
}

.invite p {
    margin: auto;
    width: 300px;
    text-align: center;
    background-color: #eeeb92;
}

.invite h3 {
    margin: auto;
    text-align: center;
}

.invite a {
    background-color: #eeeb92;
    width: 400px;
    border-radius: 20px;
}

.requestForm {
    text-align: center;
    padding: 10px;
}

.requestForm h1{
    text-align: center;
    margin: auto;
}

.requestForm p {
    margin: auto;
    text-align: center;
    width: fit-content;
}

form {
    text-align: center;
    background-color: #eeeb92;
    width: 800px;
    border-radius: 20px;
    margin: auto;
}

input {
    display: block;
    margin: auto;
}

.thanks {
    margin: auto;
    text-align: center;
    background-color: #eeeb92;
    width: 400px;
}

.thanks h1 {
    margin: auto;
}

/** footer **/

footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
}

footer p {
    width: 300px;
    text-align: center;
    padding: 5px;
    margin: auto;
}

.socials {
    background-color: #eeeb92;
    text-align: center;
    width: 250px;
    padding: 5px;
    margin: auto;
    border-radius: 20px;
}

.socials img {
    width: 40px;
}